* {
    margin: 0;
    padding: 0;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
}

body {
    background: url("https://img.wallpapersafari.com/desktop/1366/768/7/74/JFeEHc.jpg");
    font-family: 'Dancing Script', cursive;
    font-size: 62.5%;
    letter-spacing: 1.5px;
    text-align: center;
    color: #ffcc44;
    text-align: center;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

ul > li {
    list-style: none;
}

.card,
.reset {
    cursor: pointer;
}

.btn {
    border-radius: 1em;
    border: none;
    color: black;
    box-shadow: 5px 2px 20px 0 rgba(46, 61, 73, 0.5);
    padding: 0.8em;
}

h1 {
    font-size: 3em;
    font-weight: 400;
}

p {
    font-size: 1.6em;
}

h3 {
    font-weight: 600;
}

.star-rating > li {
    display: inline-block;
    padding: 0.5em;
}

.moves-counter {
    padding: 0.5em;
}
.moves {
    font-size: 2em;
}
.reset {
    font-family: 'Dancing Script', cursive ;
    background: #ffcc44;
}

.timer-container {
    background: aqua;
    border-radius: 0.5em;
    color: #000;
    margin: 0;
    padding: 0;
}

.timer {
    font-size: 2em;
}
.modal {
    display: none;
    position: fixed;
    z-index: 99;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(46, 61, 73);
    background-color: rgba(46, 61, 73, 0.6);
}

.modal-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    margin: 5% auto;
    border: 0.8em solid #fc4;
    padding-right: 2em;
    width: 80%;
}

.close {
    align-self: flex-end;
    color: #28e;
    font-size: 5em;
}

.close:hover,
.close:focus {
    color: greenyellow;
    text-decoration: none;
    cursor: pointer;
}

.modal-img {
    display: inline-block;
    margin: 1em 0 1em;
    width: 20em;
}

p.stats {
    font-weight: 600;
}

p.stats:last-child {
    margin-bottom: 1em;
}

.play-again-btn {
    background: #28e;
    margin-bottom: 1em;
}

.deck {
    background: linear-gradient(to bottom, #5cf, #28e);
    border-radius: 1.5em;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 6em;
    padding: 0.5em;
    width: 30em;
    height: 30em;
}

.deck,
.card {
    box-shadow: 5px 2px 20px 0 rgba(46, 61, 73, 0.5);
}

.card {
    background: #ffcc44;
    border-radius: 0.5em;
    height: 5em;
    width: 5em;
}

img {
    user-select: none;
    width: 7em;
}

.deck img {
    visibility: hidden;
}

.deck .card.flip {
    background: #fff;
    cursor: default;
    transform: rotateY(180deg);
    transition: transform 0.3s linear;
    pointer-events: none;
}

.flip img {
    background: #fff;
    visibility: visible;
}

.deck .card.match {
    background: #39d;
    visibility: visible;
    cursor: default;
    animation: pulse 1s;
}

.match img {
    background: #39d;
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }
    80% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}

@media screen and (min-width: 550px) {

    .deck  {
        height: 50em;
        padding: 2em;
        width: 50em;
    }

    .card {
        height: 10em;
        width: 10em;
    }

    .deck img {
        width: 9em;
    }


    .play-again-btn {
        font-size: 1.8em;
    }
}

@media screen and (min-width: 800px) {

    h1 {
        font-size: 6em;
    }

    p {
        font-size: 2.3em;
    }

    .deck  {
        height: 70em;
        width: 70em;
    }

    .card {
        height: 15em;
        width: 15em;
    }

    .deck img {
        width: 13em;
    }

    .reset-btn {
        font-size: 0.8em;
    }

    .footer {
        font-size: 1.2em;
    }

    .modal-content h2 {
        font-size: 5em;
    }


    .modal-img {
        width: 40em;
    }

    .play-again-btn {
        font-size: 2em;
    }
}